# Managed by Ansible.
DOCKGATE_LISTEN={{ dockgate_listen }}
DOCKGATE_DATA_DIR={{ dockgate_data_dir }}
DOCKGATE_AGENT_LISTEN={{ dockgate_agent_listen }}
DOCKGATE_AGENT_HOSTS={{ dockgate_agent_hosts | join(',') }}
DOCKGATE_REPORT_INTERVAL={{ dockgate_report_interval }}
{% if dockgate_fleetglass_url %}
DOCKGATE_FLEETGLASS_URL={{ dockgate_fleetglass_url }}
DOCKGATE_FLEETGLASS_TOKEN={{ dockgate_fleetglass_token }}
{% endif %}
