# Managed by Ansible.
DOCKGATE_LISTEN={{ dockgate_listen }}
DOCKGATE_DATA_DIR={{ dockgate_data_dir }}
DOCKGATE_AGENT_LISTEN={{ dockgate_agent_listen }}
DOCKGATE_AGENT_HOSTS={{ dockgate_agent_hosts | join(',') }}
DOCKGATE_REPORT_INTERVAL={{ dockgate_report_interval }}
{% if dockgate_fleetglass_url %}
DOCKGATE_FLEETGLASS_URL={{ dockgate_fleetglass_url }}
DOCKGATE_FLEETGLASS_TOKEN={{ dockgate_fleetglass_token }}
{% endif %}
DOCKGATE_TRIVY={{ dockgate_trivy_dir }}/trivy
DOCKGATE_DB_REFRESH={{ dockgate_db_refresh }}
DOCKGATE_ALERT_SEVERITIES={{ dockgate_alert_severities }}
{% if dockgate_tintwire_url %}
DOCKGATE_TINTWIRE_URL={{ dockgate_tintwire_url }}
DOCKGATE_TINTWIRE_TOKEN={{ dockgate_tintwire_token }}
{% if dockgate_tintwire_channel %}
DOCKGATE_TINTWIRE_CHANNEL={{ dockgate_tintwire_channel }}
{% endif %}
{% endif %}
{% if dockgate_mcp_listen %}
DOCKGATE_MCP_LISTEN={{ dockgate_mcp_listen }}
DOCKGATE_MCP_TOKEN_FILE={{ dockgate_mcp_token_file }}
{% endif %}
{% if dockgate_taskboard_url %}
DOCKGATE_TASKBOARD_URL={{ dockgate_taskboard_url }}
DOCKGATE_TASKBOARD_TOKEN={{ dockgate_taskboard_token }}
DOCKGATE_TASKBOARD_MAX_OPEN={{ dockgate_taskboard_max_open }}
DOCKGATE_TASKBOARD_REQUIREMENTS={{ dockgate_taskboard_requirements }}
{% endif %}
DOCKGATE_OWN_IMAGE_PREFIXES={{ dockgate_own_image_prefixes | join(',') }}
