[Unit]
Description=dockgate
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ dockgate_user }}
Group={{ dockgate_group }}
EnvironmentFile={{ dockgate_config_dir }}/dockgate.env
ExecStart={{ dockgate_binary }}
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictSUIDSGID=true
LockPersonality=true
CapabilityBoundingSet=
ReadWritePaths={{ dockgate_data_dir }}
ReadOnlyPaths={{ dockgate_config_dir }}

[Install]
WantedBy=multi-user.target
